*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 600px;
    /* cursor: none; */
    overflow: hidden;

}
.container {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: cadetblue;
    position: relative;
}
.score-time{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    text-align: right;
    padding:20px 40px 0 60px;
    font-size: 24px;
    color: white;
}
.score{
    flex: 1;
}
.time{
    flex: 1;
}
.row{
    display: flex;
    width: 100%;
    justify-content: center;
}

.hole {
   
    width: 110px;
    aspect-ratio: 1/1;
    margin: 20px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: rgb(165, 85, 11);
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
    inset 0 20px 20px 15px rgba(0, 0, 0, .3),
    0 0 5px rgba(0, 0, 0, .5);
    position: relative;
    overflow: hidden;

}

.hole .mole{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out;

}
@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}
.cursor {
    height: 90px;
    width: 80px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: none;
    background-size: 100% 100%;
    transform: translate(-10%, -40%);
    transition: transform 0.1s;
    pointer-events: none;
}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}
.modal-gameover{
    display: none;
}
.container-modal{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000050;
}
.modal-start button{
    background-color: aquamarine;
    border: none;
    font-size: 24px;
    padding: 10px;
}
@media (max-width:900px){
    .container{
        width: 100%;
    }
    .cursor{
        width: 60px;
        height: 60px;
    }
}