* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "gothamblack";
    src: url("./fonts/GothamBlack.otf");
}

html{
    font-family: "gothamblack";
}

body {
    width: 100%;
    height: 600px;
    /* cursor: none; */
    overflow: hidden;
    position: relative;
    padding: 20px 0 20px 0;
    
}

.bg-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('./assets/background.webp');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.container {
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url("./assets/bggame.png");
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}
.score-time {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    text-align: left;
    padding: 20px 60px 0 40px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}
.score {    
    flex: 1;
}
.time {
    flex: 1;
}
.row {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 100px 0 100px;
}
.c-hole{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    padding: 10px;

}
.c-hole img{

    position: absolute;
      z-index: 10;
}
.hole {
    width: 100%;
    max-width: 120px;
    aspect-ratio: 1/1;
    
    border-radius: 100%;
    background-color: #666666;
    box-shadow: inset 0 10px 0 7px #333333,
        inset 0 20px 20px 15px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hole .mole {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise 0.3s ease-out;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.hole .paint {
    z-index: 10;

}

@keyframes rise {
    0% {
        transform: translateX(-50%) translateY(100%);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}
.cursor {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: none;
    background-size: 100% 100%;
    transform: translate(-10%, -40%);
    transition: transform 0.1s;
    pointer-events: none;
    z-index: 11;
}
.cursor.active {
    transform: translate(-20%, -20%) rotate(-45deg);
}
.modal-gameover {
    display: none;
    position: relative;
}
.gameover-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.content-cupon{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    font-size: 24px;

}
.pCheck{
    display: none;
}
.gameover-content .content-info{
    padding: 10px;
    font-size: 18px;
}
.container-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
.modal-start {
    background-color: #000000f0;
}
.modal-start button {
    background-color: aquamarine;
    border: none;
    font-size: 24px;
    padding: 10px;
}

.modal-gameover button{
    border: none;
    background-color: #f2e628;
    font-family: "gothamblack";
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;

}
@media (max-width: 900px) {

    .container {
        width: 100%;
        
    }
    .row{
        padding: 0 50px 0 50px;
    }
 
    .cursor {
        width: 60px;
        height: 60px;
    }   
    
}
@media (max-width:490px) {
   .row{
    padding: 0;
   }
}
@media (max-width:400px) {
    .modal-gameover {
        width: 100%;
    }
    .c-hole img{
        width: calc(100% - 20px);
    }
}